/* Container principal */
.login-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    padding: 1rem;
}

/* Card de login */
.login-card {
    background-color: #212529;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
    border: 1px solid #c78600;
}

/* Título */
h2 {
    color: #c78600;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.form-container { /* Nova div para conter o formulário */
    width: 90%; /* Largura responsiva */
    max-width: 400px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Grupos de formulário */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block; /* Rótulos em linha separada */
    margin-bottom: 0.5rem;
    color: #f8f9fa;
    text-align: left;
}

.form-group input.invalid {
    border-color: #dc3545; /* Borda vermelha para erro */
}

.form-group small {
    color: #dc3545; /* Cor vermelha para mensagem de erro */
    font-size: 0.8rem;
    display: block; /* Mensagem de erro em linha separada */
    margin-top: 0.3rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

.form-group input:focus {
    border-color: #c78600;
}

.form-group input.invalid {
    border-color: red;
}

.btn-submit {
    display: block; /* Ocupa toda a largura */
    width: 100%;
    padding: 0.75rem;
    background-color: #ffc107; /* Dourado */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1rem; /* Adicionei margem superior */
}

.btn-submit:hover {
    background-color: #a06a00; /* Dourado mais escuro */
}

.btn-submit:disabled { /* Desabilita o botão visualmente */
    opacity: 0.5;
    cursor: not-allowed;
}

.registration-link {
    text-align: center;
    margin-top: 1rem;
}

.registration-link a {
    color: #c78600; /* Dourado */
    cursor: pointer;
}

/* Responsividade */
@media (min-width: 768px) {
    .form-group input {
        padding: 0.75rem; /* Ajuste do padding para telas maiores */
    }
}
